@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.center{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/*                       HEADER                        */



header{
    width: 100%;
    height: 90px;
    background-color: #212343;
}

header img{
    margin: 15px;
}

.container-banner{
    width: 100%;
    height: 557px;

    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-banner > .center{
    height: 100%;
    /*text-align: right;*/
}

/*                       HEADER                        */

/*-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*                       CONTAINER-LIST                        */

.container-list{

    float: left;

    width: 100%;
    max-width: 519px;
    margin-top: 90px;
    padding: 10px;

    background-color: rgba(33, 35, 67, 0.575);
}

.container-list ul{
    list-style-position: inside;
    text-align: left;

}

.container-list ul li{
    color: white;
    margin-top: 35px;
}

.container-list ul li:last-of-type{
    margin-bottom: 35px;
}


/*                       CONTAINER-LIST                        */

/*-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*                       FORM                        */


.form{
    position: relative;
    height: calc(100% + 30px);
    top: -15px;

    /* height(+30px para o container do formulario ultrapassar as margins, e top - 15px para ele ficar centralizado, -15 pois os 30px do calc foram p baixo, entao -15 sobe 15pxs.) */

    float: right;
    width: 400px;
    background-color: white;
    background-clip: padding-box; /*a cor de fundo nao se aplica a borda (outro valor tira a cor de fundo do padding), o background-origin tem o mesmo conceito mas sere para imagens*/
    border: 10px solid rgba(152, 152, 152, 0.742);

    padding: 7px;
}

.form h2{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    text-align: center;
    
}

.input-container{
    margin-top: 20px;
    margin-left: 10px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: #636363;
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Alegreya Sans', sans-serif;

}

.input-container input[type=text], .input-container input[type=tel] {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 344px;
    height: 55px;
    border: 1px solid #ccc;

    padding-left: 10px;
}

.input-container input[type=text]:focus , .input-container input[type=tel]:focus{
    outline: none;
}

.warning{
    font-size: 16px;
    color: rgb(100, 100, 100);
    font-family: 'Alegreya Sans', sans-serif;

    margin-top: 12px;
    margin-bottom: 15px;

}

.submit-container{
    text-align: center;  /* criar uma div para o botao, definir como inline-block e dar text-aling: center 
    para o botao ficar centralizado!
    */
}

#submit-button{
    display: inline-block;
    text-align: center;

    cursor: pointer;
    width: 100%;
    max-width: 250px;
    height: 56px;


    background-color: #363a6d;
    border: none;

    font-family: 'Alegreya Sans', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

#submit-button:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.546);
    background-color: #272a50;
    transition: all .3s;

}

/*                       FORM                        */


/*                      CONTAINER TEXT BOX               */


.container-text-box{
    
    width: 100%;
    padding: 40px 0;    
    background-color: rgba(177, 177, 177, 0.603);
    text-align: center;
}

.container-text-box h2{
    font-weight: normal;
}

.container-text-box p{
    display: inline-block;
    text-align: justify;
    width: 100%;
    max-width: 698px;
    margin: 15px 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: large;
    line-height: 1.5em;

}

.arrow{
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;

    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

/*                      CONTAINER TEXT BOX               */


/*                      CONTAINER MKT                    */

.section2 h2{
    text-align: center;
    margin-top: 42px;
    font-variant: small-caps;
}

.container-section2{
    margin-top: 50px;
}

.container-single{
    float: left;
    width: 33%;
    padding: .5%;
}

.img-wraper{
    text-align: center;
}

.text-single h2{
    margin-bottom: 13px;
    font-variant: small-caps;
    font-weight: lighter;
}

.text-single p{
    font-size: 16px;
    line-height: 1.52em;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;


}
/*                      CONTAINER MKT                    */

/*                      FOORTER                          */


footer{
    margin-top: 90px;
    width: 100%;
    border-top: 1px solid rgba(123, 123, 123, 0.516);
    text-align: center;
    padding-top: 10px;
 
    color: rgb(140, 140, 140);
    font-size: 12px;
}

















